name: C++ CI Pipeline

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake g++ libgtest-dev

      - name: Configure and Build
        run: |
	  rm -rf build
          mkdir build && cd build
          cmake ..
          make

      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure

