name: C++ CI/CD Pipeline

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y cmake g++ libgtest-dev
      - name: Configure and Build
        run: |
          rm -rf build
          mkdir build && cd build
          cmake ..
          make
      - name: Run Tests
        run: |
          cd build
          ctest --output-on-failure

  deploy:
    runs-on: ubuntu-latest
    needs: build   # ensures build completes first
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USER }}/cpp-test-hello:latest .
      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_PASS }}" | docker login -u "${{ secrets.DOCKER_USER }}" --password-stdin
      - name: Push image
        run: docker push ${{ secrets.DOCKER_USER }}/cpp-test-hello:latest
